extends ../_partical/layout/layout.pug
include ../_partical/card/card.pug
include ../_partical/component/tooltip.pug
include ../_partical/component/icon-avatar.pug
include ../_partical/component/avatar_with_tooltip.pug
include ../_partical/component/layui-icon.pug

block content
  include ../_partical/nav/nav-panel.pug
  include ../_partical/component/main-background.pug
  //-include ../login/login-video-background.pug
  div.layui-container
    div.layui-row.layui-col-space10
      div.layui-col-md12.layui-col-sm12
        div.main
          block main
            +Card
              .filter-container
                p= query.pid
                div.filter-item
                  label 题目: 
                  input#filter-pid(type='number' name='pid' value= query.pid ? query.pid : "")
                div.filter-item
                  label 提交者: 
                  input#filter-realname(type='text' name='realname' value= query.realname ? query.realname : "")
                div.filter-item.last
                  button.war3-default-btn.btn-blizzard#filter-search
                    +Licon("search")
                    |
                    | 查询
                  button.war3Button.war3-default-btn.btn-blizzard#filter-selfsub
                    +Licon("user")
                    |
                    | 我的提交
              .problemList
                table.tableList
                  //-colgroup
                    //-col(width="150")
                    //-col(width="200")
                    //-col
                  thead
                    tr
                      th 提交者
                      th 题目
                      th 语言
                      th 状态
                      th 分数
                      th 总时间
                      th 总内存
                      th 提交时间
                  tbody
                    each sub in subs|| []
                      tr
                        td(style="width:48px;")
                          +avatar_with_tooltip(sub.uid.email,sub.uid._id,sub.uid.realname)
                        td
                          - if(sub.pid)
                            a(href="/problem/"+sub.pid.pid) #{sub.pid.title}
                          - else
                            a= 'unkown'


                        td(style="width:48px;")= sub.lang
                        td(style="width:120px;")
                          a(href=`/submission/${sub._id}`)= sub.status || "Unkown"
                        td=  sub.score[1] ? `${sub.score[0]}/${sub.score[1]}` : ""
                        td= `${sub.total_time} ms`
                        td= `${(sub.total_memory/1024/1024).toFixed(2)} mb`
                        td(style="width:180px;")= sub.create_at_format

              .div(style="margin-top:30px;")
                - var baseUrl ='/submissions?'+(queryUrl.length ? queryUrl+'&' : '' )+'page='
                include ../_partical/component/pagenation.pug
  include ../_partical/footer/footer.pug
block layout_app_script
  script.
    layui.use('element')
block script
  script.
    var filter_selfsub = $('#filter-selfsub')
    var filter_search= $('#filter-search')

    filter_selfsub.click( function(){
      $('#filter-realname').attr("value","#{realname}")
      filter_search.click()
    })
    filter_search.click( ()=>{

      let query = {}
      let realname =  $('#filter-realname').val()
      if( realname !== "") query.realname = realname

      let pid =  $('#filter-pid').val()
      if( pid !== "") query.pid = pid

      let queryUrl = new URLSearchParams(query).toString();

      window.location = '/submissions' + (queryUrl === "" ? "" : '?'+queryUrl);
    })
