extends ../_partical/layout/layout_app.pug
include ../_partical/card/card.pug
include ../_partical/component/ali_icon.pug
include ../_partical/component/layui-icon.pug
block main
  div
    +Card('用户信息','i')
      .layui-form-pane.login-panel.login-panel-for-userinfo
        .login-panel-child
          .layui-form-item
            label.layui-form-label 真实姓名
            .layui-input-block
              input.layui-input(type='text' name='realname' required='' lay-verify='required' value=user.realname autocomplete='off' readonly)

          .layui-form-item
            label.layui-form-label 用户名
            .layui-input-block
              input.layui-input(type='text' name='username' required='' lay-verify='required' maxlength="10" value=user.username autocomplete='off' readonly)
          .layui-form-item
            label.layui-form-label 邮箱
            .layui-input-block
              input.layui-input(type='text' name='email' required='' lay-verify='required' value=user.email  autocomplete='off' readonly)
          .layui-form-item.layui-form-text
            label.layui-form-label 个性签名
            .layui-input-block
              textarea.layui-textarea(name='intro' maxlength="100" id="intro")= user.intro
    +Card('用户最近7天的提交','zhaohuanshou2')
      div.last7DaySub
        include ../_partical/chart/last7DaySub.pug
    +Card('题目通过情况','zhaohuanshou2')
      div.tags-grid
        each item in user.posted || []
          a(href=`/problem/${item.pid}`)
            .mark(class= item.succ ? "succ" : "fail")
              +Icon(item.succ ? "duihao" : "cuohao")
            | #{`#${item.pid} ${item.title}`}

block slide
  include ../_partical/user/card-avatar.pug

block script
  script.
    layui.use('http')
