extends ../../_partical/layout/layout_main_board.pug
include ../../_partical/component/ali_icon.pug
include ../../_partical/component/avatar_with_tooltip.pug

block head

block main_board
  - var baseUrl ='/bbs?tab='+ tab + '&page='
  div.bbs-container
    div.bbs-header
      div(style="margin-left:30px;")
        span.layui-breadcrumb
          a bbs
          a 
            cite= tabName
      a.war3-default-btn.btn-blizzard(href="/bbs/?tab=blow" class=tab === 'blow' ? "disabled" :"")
        +Icon('slime_fill')
        | 吹水
      a.war3-default-btn.btn-blizzard(href="/bbs/?tab=problem" class=tab === 'problem' ? "disabled" :"")
        +Icon('wendang')
        | 题目讨论

      a.war3-default-btn.btn-blizzard(href="/bbs_post" style="margin-left:auto; margin-right:30px;")
        +Icon('iconfont-iconmaineditkaobei')
        | 发贴
    div.bbs-main
      .problemList
        table.tableList
          thead
            tr
              th 作者
              - if(tab === 'problem')
                th(style="text-align: left;padding-left:20px;") 题目名
              th(style="text-align: left;padding-left:20px;") 标题
              th 回复/浏览
              th 赞
              th 最新回复
            tbody
              each topic in topics || []
                tr
                  td(style="width:48px;")
                    +avatar_with_tooltip(topic.uid.email,topic.uid._id,topic.uid.realname)
                  - if(tab === 'problem')
                    td(style="text-align: left;padding-left:20px;")
                      a(href=`/problem/${topic.pid.pid}`)= `#${topic.pid.pid} ${topic.pid.title}`
                  td(style="text-align: left;padding-left:20px;")
                    - if(topic.top)
                      button.war3-default-btn.btn-blizzard 置顶
                    a(href=`/bbs/${topic._id}`)= topic.title
                  td(style="width:88px;")= `${topic.reply_count}/${topic.visit_count}`
                  td(style="width:48px;")= topic.ups_count
                  td(style="width:88px;")= topic.last_reply_at_human
      include ../../_partical/component/pagenation.pug
