extends ../../_partical/layout/layout_app.pug
include ../../_partical/card/card.pug
include ../../_partical/component/icon-avatar.pug
include ../../_partical/component/layui-icon.pug

block head
  link(rel="stylesheet", href=codemirror.css)
  link(rel="stylesheet", href=codemirror.theme)
  link(rel="stylesheet", href="/markdown/github-markdown.css")
  link(rel="stylesheet", href="/markdown/markdown-r.css")
  link(rel="stylesheet", href=prism.css)
block main
  +Card
    .problem-show
      div.title
        h1= topic.title
      .info-list
        ul
          li 发布于 #{topic.create_at_ago}
          li 作者 #{topic.uid.realname}
          li 浏览 #{topic.visit_count} 次
          li 最后一次编辑 #{topic.update_at_ago} 
        .buttons(style="margin-left:auto;")
          - if( topic.top )
            button.war3-default-btn.btn-fanbyte(disabled)
              +Licon("up")
              | 置顶
          a.war3Button.war3-default-btn.btn-blizzard#THUMBS-UP(class= thumbs_uped ? "disabled" : "")
            +Licon("praise")
            | 点赞
            span.layui-badge.layui-bg-cyan(style="margin-left:10px;")#THUMBS-UP-NUMBER= topic.ups_count || 0
    div.content.markdown-body
      | !{topic.html_content}
  +Card
    #components-demo
      comments(tid= topic._id self_uid= _id)
block slide
  include ../../_partical/user/card-avatar.pug

block script
  //-script(src="/markdown/markdown-r.js")
  script(type="text/x-mathjax-config").
    MathJax.Hub.Config({
      TeX: { extensions: ["autoload-all.js"] },
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        //-<!--$表示行内元素，$$表示块状元素 -->
        inlineMath: [ ['$','$'], ["\\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": {
        availableFonts: ["STIX","TeX"] ,
        showMathMenu:false
      },
      CommonHTML: { scale: 100 }
    });
  script(async="" src=mathjax)
  script(src=codemirror.script)
  each lang in codemirror.languages
    script(src=lang)
  script(src="/script/vue.js")
  script.

    layui.use(['http','message'],function(){ 
      message = layui.message.alert
      //-$(`button#subCode`).removeAttr("disabled")
      $("#THUMBS-UP").click( function(){
        layui.http.bbs_thumbs_up({
          tid: "#{topic._id}"
        }).then( (data)=>{
            if(data.up){
                $(this).addClass("disabled")
                var num = $(this).children('#THUMBS-UP-NUMBER').text()
                num++
                $(this).children('#THUMBS-UP-NUMBER').text(num)
            }
            message(data.message)
        })
      })

      //-$("#reply_create").click( function(){
        //-let post_data = { tid : "#{topic._id}"}
        //-post_data.content = editor.getValue()
        //-if( post_data.content.length < 5 || post_data.content.length > 1000){
          //-message("请确保评论的内容在[5,1000]之间")
          //-return false
        //-}
        //-layui.http.reply_create(post_data).then( data=>{
            //-message(data.message)
        //-})
      //-})
    })
    layui.use(['vue-comments','vue-codemirror'],function(){
      var comments = layui["vue-comments"]
      var codemirror = layui["vue-codemirror"]
      Vue.component('codemirror',codemirror.component)
      Vue.component('comments',comments.component)
      new Vue({ el: '#components-demo' })
    })





